/* .vitepress\theme\style\hidden.css */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
:root {

    /* 文档页Logo出文字下横条 */
    @media (min-width: 960px) {
        .VPNavBarTitle.has-sidebar .title {
            border-bottom-color: transparent;
            font-family: luckiest guy;
        }
        .VPNavBarTitle.has-sidebar .title span:hover {
           transform: scale(1.2);
            transition: transform 0.5s ease-in-out;
        }
    }

    /* 页脚横条隐藏 */
    .VPFooter {
        border-top: none;
    }

    /* 手机端菜单栏顶部横条隐藏 */
    .VPNavBar.screen-open {
        border-bottom: none;
    }

    /* 手机端菜单栏菜单分割线隐藏 */
    .VPNavScreenMenuLink {
        border-bottom: none;
    }

    /* 手机端菜单组隐藏 */
    .VPNavScreenMenuGroup {
        border-bottom: none;
    }

    /* 手机端大纲栏横条隐藏 */
    .VPLocalNav {
        border-bottom: none;
    }

}


/* 导航栏下划线隐藏 */
.divider {
    display: none;
}