@import './hidden.css';
@import './blur.css';


.center-text {
  text-align: center;
  font-size: 14px;
  font-family:  "华文中宋",
    "Times New Roman";
}

.title-text {
  text-align: center;
  font-family: "Noto Serif SC-Local", "Noto Serif SC", "华文中宋",
    "Times New Roman";
}
/* 引用块 */
.vp-doc blockquote {
    border-radius: 10px;
    padding: 18px 20px 20px 15px;
    position: relative;
    background-color: var(--vp-c-gray-soft);
    border-left: 6px solid var(--vp-c-green-2);
    cursor: pointer;
}


